@import url("./global-styles.scss");

.slider {
  user-select: none;
  border: transparent;
}

.slick-slide {
  user-select: none;
  border: transparent;
}

.slide-overlay {
  background-color: none;
  position: absolute;
  width: 100%;
  height: 30vw;
  z-index: 4;
}

.slide-wrapper {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  color: #fff;
}
